<div>
  {{!-- Display Selected Blog --}}
  <div class="card">
    <h2 class="card-header text-center">{{title}}</h2>
    <p class="comment">{{description}}</p>
    <p class="comment">Created by {{user.name}} on {{format_date date_created}}</p>
  </div>

  {{!-- Display Comments With Delete Button --}}
  {{#if comments.length}}
  <div class="card">
    <div class="text-center comment-list">
      <h3 class="card-header">Previous Comments:</h3>

      {{#each comments as |comment|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <p class="comment">{{comment.comment}} {{format_date comment.date_created}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger" data-id="{{comment.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>

  {{!-- Add New Comment --}}
  <div class="card">
    <h3 class="card-header text-center">New Comment:</h3>
      <form class="form new-comment-form">
        <div class="form-group">
          <input class="form-input" type="comment" id="new-comment" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">+ Comment</button>
        </div>
      </form>
  </div>
</div>

<script src="../js/comment.js"></script>