<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
  <div class="card">
    <h2 class="card-header">
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>Created by {{user.name}} on {{format_date blog.date_created}}</p>
    <p>{{blog.description}}</p>
  </div>
{{/each}}
